:root {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter', sans-serif;
  --botao-azul-efeito: #3c92fa;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url("https://img.elo7.com.br/product/original/107AC38/painel-princesa-sofia-g-frete-gratis-painel-digital.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  /* background-color: red; */
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  text-decoration: none;
  display: block;
}

.botao_secundario {
     background-color: transparent;
     border: 2px solid #FFFFFF;
     border: 2px solid var(--branco-principal);

}
.container__titulo{
 font-size: 28px;
 font-weight: 700;
}
.container__aviso{
font-size: 12px;
color: var(--cinza-secundario);
}
.container__caixa{
margin: 0 6em;
}
.container__imagem{
  margin: 1em 0 2em;
}
.principal{
align-items: center;
text-align: center;
}
.container__botao{
  margin-bottom: 1em;
}
.planoFundo{
  background-image: url(https://ae01.alicdn.com/kf/H6b60c6916eac4e1f84a7a1b2cbc01bbdO/Festa-de-anivers-rio-das-crian-as-conto-de-fadas-castelo-fundo-rei-princesa-castelo-exterior.jpg_640x640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.secundario{
  align-items: center;
  margin: 0 10em;
}
.secundario__imagem {
  width: 80%;
}
.descricao__titulo{
font-weight: 700;
font-size: 48px;
color: #FFFFFF;
margin-bottom:0.1em;
}
.descricao__texto{
color: #C0C0C0;
line-height: 150%;
}
.container__descricao {
  padding: 2em;
}
.titulo2{
  color: crimson;
}
.dispositivos__lista {
  display:flex;
  justify-content: center;
  text-align: center;
}
.dispositivos__titulo {
  text-align: center;
  
}